@import "colors";
@import "homepage.css";
@import "header.css";
@import "contact";
@import "about";
@import "home";
@import 'shop.css';
@import 'login';
@import 'cart';
@import 'Order';
@import 'Payment';
@import 'Subtotal';

html {
  background-color: #504c65;
  color: #a5d3ce;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
}
